# Exercises for part I - Try it at home

## List
 
1. Create a list of numbers from 1 to 10

In [15]:
mylist=[1,2,3,4,5,6,7,8,9,10]
print(mylist)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

2. Append to the list the number 20

In [16]:
mylist.append(20)
print(mylist)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 20]

3. Insert two zeros after the fourth place of the list

In [17]:
mylist.insert (4,0)
mylist.insert (4,0)
print(mylist)

[1, 2, 3, 4, 0, 0, 5, 6, 7, 8, 9, 10, 20]

4. Sort the list in reverse order

In [18]:
mylist.sort(reverse=True)
print(mylist)

[20, 10, 9, 8, 7, 6, 5, 4, 3, 2, 1, 0, 0]

5. Remove the last two items from the list

In [19]:
mylist.pop()
mylist.pop()
print(mylist)

[20, 10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

6. Invert the order of the list

In [20]:
mylist.reverse()
print(mylist)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 20]

7. How many items has the list?

In [21]:
len(mylist)

11

8. Give the minimum, maximum and the sum of all the items in the list

In [26]:
print(min(mylist))
print(max(mylist))
print(sum(mylist))

1
20
75

9. What will happen if you multiply the list by 2?

In [28]:
x=0
newlist = []
while (x<len(mylist)):
    newlist.append(mylist[x]*2)
    x+=1
print(newlist)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 40]

10. Can you divide the list by 3?

In [29]:
x=0
newlist = []
while (x<len(mylist)):
    newlist.append(mylist[x]/3)
    x+=1
print(newlist)

[0.3333333333333333, 0.6666666666666666, 1.0, 1.3333333333333333, 1.6666666666666667, 2.0, 2.3333333333333335, 2.6666666666666665, 3.0, 3.3333333333333335, 6.666666666666667]

# Tupples
 
1. Create a tupple with three characters and four numbers

In [23]:
mytupple=('a','b','c',1,2,3)
print(mytupple)

('a', 'b', 'c', 1, 2, 3)

2. Append two booleans (false, true) to the tupple

In [24]:
b=(False,)
c=(True,)
newtupple=mytupple+b+c
print (newtupple)

('a', 'b', 'c', 1, 2, 3, False, True)

3. Retrieve the third to sixth items from the tupple

In [35]:
print(mytupple[2], mytupple[3], mytupple[4], mytupple[5])

('a', 'b', 'c', 1, 2, 3)
c 1 2 3

4. Divide the tupple by data type and create a list for each, then create a muttable tupple using these lists

In [37]:
ints=[]
strs=[]
bools=[]
x=0
while x<len(newtupple):
    if (isinstance(newtupple[x],bool)):
        bools.append(newtupple[x])
    elif (isinstance(newtupple[x],str)):
        strs.append(newtupple[x])
    else:
        ints.append(newtupple[x])
    x=x+1
print(ints)
print (strs)
print (bools)

[1, 2, 3]
['a', 'b', 'c']
[False, True]

# Sets
 
1. Create a set using the following paragraph:
 
<quote>
"Shallow copy is a bit-wise copy of an object. A new object is created that has an exact copy of the values in the original object"
<quote>
 
Note: Each part of the set must be a word, not a character!

2. Do you see something wierd in this set? What? How can you prevent that?

# Dictionary
 
1. Generate a dictionary from the following table:

<table>
    <tr> <th> EmployeeID </th> <th> Name </th> <th> Position </th> <th> Phone </th> </tr>
    <tr> <td> 1020 </td> <td> Harry Smith </td> <td> Sales Manager </td> <td> 030-223.65.44 </td> </tr>
    <tr> <td> 2201 </td><td> Margaret Holsum </td> <td> Sales Representative </td> <td> 030-223.64.12 </td> </tr>
    <tr> <td> 3320 </td><td> Lasly Howard </td> <td> Human Resources </td> <td> 030-223.83.33 </td> </tr>
    <tr> <td> 8111 </td><td> Larry Johnson </td> <td> Project Manager </td> <td> 030-224.22.00 </td> </tr>
    <tr> <td> 2733 </td><td> Hellen Young </td> <td> Customer Service </td> <td> 030-223.03.20 </td> </tr>
</table>

In [38]:
Name = {1020:'Harry Smith', 2201: 'Margaret Holsum', 3320:'Lasly Howard', 8111:'Larry Johnson',2733: 'Hellen Young'}
Position = {1020:'Sales Manager', 2201: 'Sales Representative', 3320:'Human Resources', 8111:'Project Manager',2733: 'Customer Service'}
Phone = {1020:'030-223.65.44', 2201: '030-223.64.12', 3320:'030-223.83.33', 8111:'030-224.22.00',2733: '030-223.03.20'}

1. Get all the keys of the dictionary

2. Get all the values of the dictionary

3. Show the third row of the table by calling the dictionary using the respective EmployeeID

In [41]:
print(3320, end="     ")
print(Name[3320], end="     ")
print(Position[3320], end="     ")
print(Phone[3320])

3320     Lasly Howard     Human Resources     030-223.83.33

# Loop programming in python
 
1. Write a script that shows all the primary numbers from 1 to 100. Use for.. loop and if..else

In [43]:
primaries=[1]
for x in range (2,101):
    for y in range (2, x):
        if (x%y==0):
            break
        else:
            primaries.append(x)
            break
print(primaries)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39, 41, 43, 45, 47, 49, 51, 53, 55, 57, 59, 61, 63, 65, 67, 69, 71, 73, 75, 77, 79, 81, 83, 85, 87, 89, 91, 93, 95, 97, 99]

2. Write a different solution to the problem in the last question, but using while.. in place of for..

In [44]:
primaries=[1]
x=2
while (x<101):
    y=2
    while (y<x):
        if (x%y==0):
            break
        else:
            primaries.append(x)
            y=y+1
            break
    x=x+1
print(primaries)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39, 41, 43, 45, 47, 49, 51, 53, 55, 57, 59, 61, 63, 65, 67, 69, 71, 73, 75, 77, 79, 81, 83, 85, 87, 89, 91, 93, 95, 97, 99]