In [3]:
mylist=[1,2,3,4,5,6,7,8,9,10,'a','b','c','d','e',True,False,False]

In [4]:
print(mylist)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 'a', 'b', 'c', 'd', 'e', True, False, False]

In [5]:
print(mylist[2])

3

In [6]:
mylist.pop()
print(mylist)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 'a', 'b', 'c', 'd', 'e', True, False]

In [8]:
mylist.insert(7,'A')

In [9]:
print(mylist)

[1, 2, 3, 4, 5, 6, 7, 'A', 8, 9, 10, 'a', 'b', 'c', 'd', 'e', True, False]

In [11]:
mytupple=('a','b','c','d','e','f')

In [22]:
print (mytupple)

('a', 'b', 'c', 'd', 'e', 'f')

In [46]:
newtupple4=mytupple[0]
x=1
while (x<3):
    newtupple4=newtupple4+mytupple[x]
    x+=1
y=4
while (y<6):
    newtupple4=newtupple4+mytupple[y]
    y+=1
print (newtupple4)

abcef

In [49]:
myset=set(mylist)
print (myset)

{False, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 'b', 'e', 'a', 'c', 'd', 'A'}

In [50]:
Courses={'English':15, "Math":20, "Gym":18, "Literature": 16, "Debate": 10, "Advanced Math": 8, "French": 16}

In [51]:
print (Courses['English'])

15